p {
	color: red;
	width: 500px;
	border: 1px solid black
}

li, h1 {
	color: blue;
}

html {
	background-color: pink
}

body {
	width: 1000px;
	margin: 10 auto;
	background-color: orange;
	padding: 10px 10px 10px 10px;
	border: 10px solid black;
}

.quotes {
	color: purple;
}
